.nav_hamburger {
  display: none;
}

.nav_links {
    display: flex !important; 
    position: static;
    box-shadow: none;
    padding: 0;
    flex-direction: row;
  }

.hero-section {
  gap: 64px;
}


 .collection-grid {
  grid-template-columns: repeat(4, 1fr);
}

.about-content {
  max-width: 600px;
  margin: 0 auto; 
}