@media all and (min-width: 768px) {
 .nav_hamburger, #menu-toggle {
    display: none !important;
  }
}

  .nav_links {
    display: flex !important;
    flex-direction: row;
    position: static;
    padding: 0;
    box-shadow: none;
    width: auto;
  }
  .nav_logo, .search-btn, .nav_hamburger {
  order: initial; 
}

.search-btn {
  margin: 0; 
}

body {
  padding: 0 32px;
}


.hero-section {
  flex-direction: row; 
  align-items: center;
  text-align: left;
  gap: 48px;
}

.hero-visual, .hero-copy {
  flex: 1; 
}

.badge {
  margin-bottom: 24px;
}


.collection-grid {
  grid-template-columns: repeat(2, 1fr);
}